[submodule "gateway"]
	path = gateway
	url = git@github.com:dr-berp/gateway.git
[submodule "products"]
	path = products
	url = git@github.com:dr-berp/products.git
[submodule "pricing"]
	path = pricing
	url = git@github.com:dr-berp/pricing.git
[submodule "auth"]
	path = auth
	url = git@github.com:dr-berp/auth.git
